form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  max-width: 600px;
  padding: 33px 40px;
  border-radius: 12px;
  background-color: var(--color-background-light);
}

label {
  font-size: 2.4rem;
  font-weight: bold;
  color: var(--color-textprimary);
  text-align: center;
}

textarea {
  width: calc(100% - 25px);
  max-width: 100%;
  min-height: 62px;
  padding: 12px;
  border-radius: 4px;
  box-shadow: 0px 5px 50px rgba(32, 35, 41, 0.25);
  font-family: "Roboto", sans-serif;
  font-size: 2.4rem;
  text-align: center;
  background-color: #f9fbfc;
  margin-block: 2.4rem;
}

textarea::placeholder {
  font-weight: 400;
  color: #a5a5a5;
}

textarea:focus {
  outline-color: var(--color-primary);
}

.TodoForm-buttonContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.TodoForm-button {
  display: inline-block;
  width: 120px;
  height: 48px;
  border: none;
  border-radius: 4px;
  font-size: 2rem;
  font-weight: 400;
  color: var(--color-textprimary);
  cursor: pointer;
}

.TodoForm-button--add {
  background: var(--color-primary);
}

.TodoForm-button--cancel {
  background: transparent;
}

.TodoForm-button--cancel:hover {
  background: var(--color-background-light);
}
